#homePic
{
    width: 100%;
    height: 95vh;
}

html
{
    scroll-behavior: smooth;
}

#anchor
{
    position: absolute;
    bottom: 10px;
    left: 95vw;
}

body
{
    background-color: #383E3F;
}

.trickHome
{
    border: 1px solid lightslategray;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 0px;
    background-color: lightgrey;
}

.trickHome a
{
    text-decoration: none;
    color: black;
}

#mainPic
{
    height: 30vh;
    width: 95vw;
    margin-left: 25px;
    margin-right: 25px;
}

#OneTrickPics
{
    margin-top: 15px;
}

#OneTrickVids
{
    margin-top: 15px;
}

#infoTrick
{
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightgrey;
}

#oneTrickName
{
    color: white;
    text-effect: engrave;
    font-weight: bold;
}

hr
{
    color: white;
}

#userUpdateDeleteBlock
{
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: antiquewhite;
    border: solid white 1px;
    border-radius: 2px;
    padding: 5px;
}

#userUpdateDeleteBlock img
{
    margin: 5px;
}

#blockComment
{
    background-color: dodgerblue;
    border: black solid 1px;
    border-radius: 10px;
    color: white;
}