{% extends 'base.html.twig' %}

{% block title %}Mot de passe Oublié{% endblock %}

{% block body %}

    <div class="info col-lg-12 text-center">
        <h1>Mot de Passe oublié</h1>
        <p>Vous pouvez saisir ici votre mail afin de réinitialiser votre mot de passe.</p>
        <p>Un lien vous sera envoyé par email.</p>
    </div>

    <div class="col-lg-6 offset-lg-3 text-center" style="margin-top: 20px">

        {{ form_start(form) }}

        {{ form_widget(form.mail, {'attr': {'placeholder': 'Veuillez saisir votre mail'}}) }}

        <input type="submit" class="btn btn-primary" value="Valider">

        {{ form_end(form) }}

    </div>

{% endblock %}
